<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
             <listener class-name="pages.pagFry.ExtRep"/>
             </listeners>
  <test thread-count="5"  name="Test">
  
   <groups>
        <define name="full">
        
           <include name ="two_way"/>
         </define>
     <run>
        <include name ="full"/>
     </run>
     </groups>     
    <classes>
      <class name="pages.pagFry.OneWay"/>
      <class name="pages.pagFry.RoundTrip"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
